*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
h1{
    display: flex;
    justify-content: center;
    font-family: arial;
    color: aliceblue;
}
.heart{
    position: fixed;
    bottom: 0vh;
    color: red;
    font-size: 2rem;
    animation: fall 3s linear forwards;
}
@keyframes fall{
    to{
        top: 0;
        transform: translateY(-200vh);
    }
}

@media only screen and (max-width: 475px) {
    .heart{
        font-size: 1rem;
    }
    
}